{% assign lang = site.active_lang %}
<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/index.html" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description[lang] }}</p>
  </header>

<p style="display: block; text-align: center;">
	{% for tongue in site.languages %}
		<a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} 
		href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} 
		{% else %} 
		{{site.baseurl}}/{{ tongue }}{{page.url}} 
		{% endif %}">{{ tongue }}</a> {% if tongue != site.languages.last %} | {% endif %}
	{% endfor %}
</p>

  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
